/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero section */
.hero {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    color: #bbb;
    margin-bottom: 2rem;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}